/* Footer Styles */
.footer {
  background-color: #e7d3bb53;
  color: rgba(0, 0, 0, 0.689);
  padding: 2rem 0;
  font-family: 'Arial', sans-serif;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer-col {
  margin-bottom: 1.5rem;
}

.footer-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #600f37;
}

.footer-description {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  line-height: 1.5;
}

.footer-heading {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #600f37;
}

.footer-links,
.footer-contact {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-contact li {
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.footer-contact ion-icon {
  margin-right: 0.5rem;
  color: #600f37;
}

.footer-links li:hover,
.footer-contact li:hover {
  color: #600f37;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 1.5rem;
  border-top: 1px solid #333;
  padding-top: 1rem;
  font-size: 0.85rem;
  color: #aaa;
}


@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    text-align: center;
  }

  .footer-col {
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  .footer-row {
    justify-content: space-between;
  }
}
